<section id="about">

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Über uns</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading">Miriam & Markus Schmidberger</h2>
          <div class="lead">
            <p>Offen und ehrlich teilen wir unseren Weg und unsere Transformationsprozesse von Kindern zu
            Erwachsenen zu Eltern und zu authentischen Menschen.</p>

            <p>Unser Ziel ist ein offener, ehrlicher und authentischer Umgang untereinander als Paar,
              mit unseren Kindern und zwischen Arbeitskollegen bzw. Vorgesetzten. Das klappt nicht jeden Tag.
              Wir machen Fehler und wollen daraus wieder lernen. Ein ehrlicher und konstruktiver
              Umgang miteinander als Paar, mit unseren Kindern und mit unseren Mitmenschen hilft uns dabei.</p>

            <a href="https://familien-transformation.de/mindset/2019/12/01/DasSindWir/">Mehr zu uns auf https://familien-transformation.de</a>
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
          <img class="img-responsive thumbnail" src="/img/mirimarkus2020.webp" onerror="this.src='/img/mirimarkus2020.jpg'">
        </div>

      </div>
    </div>
  </div>

</section>
