<!-- Name Section -->
<section id="name">

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Unser Name "Turtle Transformation"</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <h2>Die Seite befindet sich im Aufbau</h2>
          <div class="lead">
            <p>bald mehr zum Namen Turtle Transformation</p>
          </div>

        </div>
        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
          <img class="img-responsive" src="img/logo/turtle_transparent.png" alt="">
        </div>

      </div>
    </div>
  </div>

</section>
