<!-- Name Section -->
<section id="name">

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Unser Name "Turtle Transformation"</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <div class="lead">
            <p>Die Schildkröte ist ein zeitloses Geschöpf, welches an Land und im Meer
              lebt. Die Langsamkeit und ein hohes Alter machen die Schildkröte zu einem
              urtümlichen Tier, das Vertrauen und Frieden verströmt. Als Krafttier
              Schildkröte steht das Tier für Erdung, Geduld und (Ur)Vertrauen.<p>

            <p>In den Eigenschaften und Fähigkeiten der Schildkröte finden wir viele
              Ansätze die uns auf dem Weg von Turtle Transformationen begleiten:
              <h4>ghjfj</h4>
              hgfghfdghfgh
              <h4>ghjfj</h4>
              hgfghfdghfgh

          </div>

        </div>
        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
          <img class="img-responsive thumbnail" src="img/logo/turtle_transparent.png" alt="">
        </div>

      </div>
    </div>
  </div>

</section>
