<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/#home">{{ site.title }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#konzept">{% t nav.konzept %}</a>
        </li>
      <!--  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% t nav.angebot %} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="#services_einzel">{% t nav.angebote.einzel %}</a></li>
                      <li><a class="page-scroll" href="#services_familie">{% t nav.angebote.familie %}</a></li>
                    <li><a class="page-scroll" href="#services_firma">{% t nav.angebote.firma %}</a></li>
                  </ul>
                </li> -->
                <li>
                  <a class="page-scroll" href="#services">{% t nav.angebot %}</a>
                </li>
        <li>
          <a class="page-scroll" href="#about">{% t nav.ueberuns %}</a>
        </li>
        <li>
          <a class="page-scroll" href="#name">{% t nav.unsername %}</a>
        </li>
        <li>
          <a class="page-scroll" href="#referenz">{% t nav.referenzen %}</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">{% t nav.kontakt %}</a>
        </li>
        <li>
          {% if site.lang=="de" %}
          <a class="page-scroll" href="{{ site.baseurl_root }}/en{{ page.url }}"><img src="/img/gb_16.png"></a>
          {% else %}
          <a class="page-scroll" href="{{ site.baseurl_root }}{{ page.url }}"><img src="/img/de_16.png"></a>
          {% endif %}

        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
        <div class="col-lg-4">
          <div class="intro-message">
             <img src="/img/logo/turtle_transparent.png" class="intro-logo">
             </div>
        </div>
				<div class="col-lg-8">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{% t page.subTitle %}</h3>
						<hr class="intro-divider">
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
