<!-- Konzept Section -->
<section id="konzept" class="container content-section">
  <div class="row">
    <div class="col-lg-12">
      <br /><br />
      <div class="lead">
        <p>
          Wir teilen mit Dir unseren Weg und begleiten Dich, wenn Du magst, auf Deiner
          Transformation als Individuum, als Familie oder als Firma. Wir streben nach
          einem Miteinander zwischen Individuums, zwischen Familienmitgliedern und
          zwischen Arbeit und privaten Leben. Im Mittelpunkt steht hierbei ein Leben das sich
          in jedem Moment erfüllend und lebenswert fühlt.</p>

        <p>Bei all unseren Transformationen folgen wir unserem "Von Innen nach Aussen" Prozess.
        <ol style="text-align:left">
          <li>Ich schaue im Innen</li>
          <li>Ich schaue im Aussen</li>
          <li>Ich reflektiere und ändere</li>
          <li>Ich fühle und gehe zurück zu Schritt 1</li>
        </ol>
        </p>
        <p>
          Diesen Prozess folgend kann jedes Individuum in die Selbtsverantwortung gehen und
          auf Augenhöhe in den Kontakt bzw. authentischen Austausch mit sich selbst, einem
          Familienmitglied, einem Arbeitskollegen oder einem anderem Individuum. Dabei
          kommst du Schritt für Schritt in den Frieden mit dir, deinem Umfeld und der Welt.</p>

        <p><img src="/img/turtle_trafo_konzept.jpg" width=100% class="thumbnail"></p>

        <p>In all unsere Prozessen integrieren wir die Grundemotionen Freude, Angst,
          Wut und Traurigkeit. Wir haben die Möglichkeiten unsere Traumata anzuschauen und eigene
        oder übernommene (Schatten-)Anteile in uns zu finden.</p>

        <p>In den Turtle Transformation Angeboten greifen wir verschiedene Aspekte der "Innen nach Aussen"
          Transformationen auf, teilen mit Dir unseren Weg und begleiten Dich, wenn Du magst, auf
          Deiner Veränderung hin zu einem Leben das sich in jedem Moment erfüllend und
          lebenswert anfühlt.</p>

      </div>
      <br /><br />
    </div>
  </div>
</section>
