<!-- Konzept Section -->
<section id="konzept" class="container content-section">
  <div class="row">
    <div class="col-lg-12">
      <br /><br />
      <div class="lead">
        <p>
          Wir teilen mit Dir unseren Weg und begleiten Dich, wenn Du magst, auf Deiner
          Transformation als Individuum, als Familie oder als Firma. Wir streben nach
          einem Miteinander zwischen Individuums, zwischen Familienmitgliedern und
          zwischen Arbeit und privaten Leben. Im Mittelpunkt steht hierbei ein Leben das sich
          in jedem Monent erfüllend und lebenswert fühlt.</p>

        <p>Bei all unseren Transformationen folgen wir unserem "Von Innen nach Aussen" Prozess.
        <ol style="text-align:left">
          <li>innen schauen</li>
          <li>aussen schauen</li>
          <li>fühlen und reflektieren</li>
          <li>zurück zu Schritt 1</li>
        </ol>
        </p>
        <p>Diesem Prozess folgend kann jedes Individuum in die Selbtsverantwortung gehen und
          auf Augenhöhe in den Kontakt bzw. Austuasch mit sich selbst, einem Familienmitglied,
          einem Arbeitskollegen oder einem anderem Individuum.</p>

        <p><img src="/img/turtle_transformation_konzept.jpg" width=100%></p>

        <p>In all unsere Prozessen treffen wir die vier Grundemotionen Freude, Angst, Wut und Traurigkeit und
          haben die Möglichkeiten unsere Traumata anzuschauen. </p>

      </div>
    </div>
  </div>
</section>
