<section id="services">

  	<div class="banner">
  		<div class="container">

  			<div class="row">
  				<div class="col-lg-12">

  					<h2>Angebote</h2>

  				</div>
  			</div>

  		</div>
  		<!-- /.container -->

  	</div>
  </section>
  <!-- /.banner -->


<!-- Page Content -->
{% for post in site.categories.Services reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive thumbnail" src="/img/services/{{ post.img }}" onerror="this.src='/img/services/{{post.img | replace: "webp", "jpg" }}'">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="/img/services/{{ post.img }}" onerror="this.src='/img/services/{{post.img | replace: "webp", "jpg" }}'">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
