<!DOCTYPE html>
<html lang="{{ site.lang }}">
	{% include head.html %}

	<body>
		{% include header_offerings.html %}

		<div class="content-pages">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">

						{{ content }}

					</div>
				</div>
			</div>
		</div>

		<!-- ShareThis BEGIN -->
		<div class="sharethis-inline-share-buttons"></div>
		<!-- ShareThis END -->
		<br>

		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
